In [33]:
import pandas as pd
import numpy as np
import math
df = pd.read_csv(r"C:\Users\delosj4\Documents\Github\DAT-10-14\class material\Unit3\Data\advertising.csv", usecols=['TV','radio','newspaper','sales'])

In [12]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [16]:
df['TV'].head()

0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
Name: TV, dtype: float64

In [55]:
tv_numerator = np.sum((df['TV']-df['TV'].mean()))

In [41]:
n = df.shape[0]

In [24]:
numerator/(n-1)

7370.94989321608

In [25]:
df['TV'].var()

7370.949893216087

In [56]:
radio_numerator = np.sum((df['radio']-df['radio'].mean()))

In [27]:
radio_numerator/(n-1)

220.42774271356785

In [28]:
df['radio'].var()

220.4277427135678

In [35]:
df['radio'].var()

220.4277427135678

In [37]:
np.sqrt(df['TV'].var())

85.8542363149081

In [38]:
df['TV'].mean()

147.0425

In [63]:
tv_numerator = ((df['TV']-df['TV'].mean()))

In [64]:
radio_numerator = ((df['radio']-df['radio'].mean()))

In [66]:
np.sum((tv_numerator*radio_numerator)/(n-1))

69.86249246231158

In [62]:
(df['TV']-df['TV'].mean())

0       83.0575
1     -102.5425
2     -129.8425
3        4.4575
4       33.7575
5     -138.3425
6      -89.5425
7      -26.8425
8     -138.4425
9       52.7575
10     -80.9425
11      67.6575
12    -123.2425
13     -49.5425
14      57.0575
15      48.3575
16     -79.2425
17     134.3575
18     -77.8425
19       0.2575
20      71.3575
21      90.3575
22    -133.8425
23      81.2575
24     -84.7425
25     115.8575
26      -4.1425
27      93.0575
28     101.7575
29     -76.4425
         ...
170    -97.0425
171     17.4575
172   -127.4425
173     21.3575
174     75.3575
175    129.8575
176    101.3575
177     23.1575
178    129.6575
179     18.5575
180      9.5575
181     71.4575
182    -90.8425
183    140.5575
184    106.7575
185     57.9575
186     -7.5425
187     44.0575
188    138.9575
189   -128.3425
190   -107.5425
191    -71.5425
192   -129.8425
193     19.7575
194      2.6575
195   -108.8425
196    -52.8425
197     29.9575
198    136.5575
199     85.0575
Name: TV, Length: 200, dtype: float64

In [69]:
df[['TV','radio']].cov()

                TV       radio
TV     7370.949893   69.862492
radio    69.862492  220.427743